
.popular-polls-wrapper, .recent-polls-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .title {
    letter-spacing: 0.8px;
    color: #53565c;
    padding: 15px;
    grid-row: 1;
    margin: 0;
    display: block;
  }

  .polls-wrapper {
    width: 100%;
    height: calc(100% - 80px);
    padding: 0 10px;
    position: relative;
    overflow: paged-y-controls;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .popular-polls {
      display: inline;
      text-decoration: none;
      color: inherit;
      width: calc(20% - 10px);
      margin: auto;
      height: calc(50% - 20px);
      overflow: hidden;
      position: relative;
      box-shadow: 1px 8px 28px 6px rgba(0, 0, 0, 0.125);
      border-radius: 15px;

      .poll-title {
        font-weight: bold;
        font-size: 18px;
        padding: 15px 15px 2.5px;
        height: calc(100% / 3 - 17.5px);
        overflow: hidden;
      }

      .poll-desc {
        text-align: left;
        padding: 2.5px 15px;
        height: calc(100% / 2 - 17.5px);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .poll-votes {
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        left: 15px;
      }

      .poll-time {
        position: absolute;
        bottom: 10px;
        right: 15px;
      }
    }
  }
}
