<div class="topbar-container" fxFill fxFlex fxLayout="row">

  <a routerLink="/home" class="logo">
    <img src="assets/img/idena-poll-logo.png">
  </a>

  <a routerLink="/about" class="about">
    <h1>About</h1>
  </a>

  <span class="spacer"></span>
  <form (ngSubmit)="searchByWords()" style="min-width: 50%;background: #fff">
    <app-input [parentControlName]="'searchbar'" [parentFormGroup]="search"
               inputLabel="Search by words used"></app-input>
  </form>
  <span class="spacer"></span>
  <div class="create" *ngIf="session && canCreate">
    <a class="create-btn" fxLayout="row" routerLink="/create">
      <span class="circle" fxLayout="row" aria-hidden="true">
        <span class="material-icons icon">add</span>
        <span class="button-text">New Poll</span>
      </span>
    </a>
  </div>
  <div class="user" fxLayout="row">
    <ng-container *ngIf="session else signin">
      <div class="user-pic" fxLayout="row">
        <img class="user-avatar" src="https://robohash.org/{{session.address}}" alt="pic" width="50"/>
        <span class="material-icons">keyboard_arrow_down</span>
      </div>
      <div class="dropdown">
        <a (click)="createdBy()" class="btn btn-small btn-icon"> <span>My Polls</span> </a>
        <a class="btn btn-small btn-icon" (click)="logout()"> <span>Log out</span> </a>
      </div>
    </ng-container>
    <ng-template #signin>
      <a (click)="reSign()" class="btn btn-signin">
        <img alt="signin" src="assets/img/idena_white_small.svg" class="icon icon-logo-white-small " width="24px">
        <span>  Sign-in with Idena</span></a>
    </ng-template>
  </div>
</div>
