$grey: #f5f6f7;
:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;

  .home-container {
    overflow: hidden;
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-color: #fff;
    display: grid;
    padding: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-gap: 5px;

    .popular-polls-wrapper, .recent-polls-wrapper {
      .title {
        grid-row: 1;
        display:block;
        height: 80px;
        margin: 0 20px;
      }

      .grid-wrapper {
        width: 100%;
        height: calc(100% - 80px);
        display: inline-grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-auto-flow: column;

        .popular-polls, .recent-polls {
          display: inline-block;
          grid-row: auto;
          position: relative;
          box-shadow: 1px 8px 28px 6px rgba(0, 0, 0, 0.125);
          border-radius: 15px;

          .poll-title {
            font-weight: bold;
          }

          .poll-desc {
            text-align: left;
            padding: 20px 10px 5px;
          }

          .poll-votes {
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            left: 5px;
          }

          .poll-time {
            position: absolute;
            bottom: 10px;
            right: 5px;
          }
        }
      }
    }
  }


}
