:host{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  .signin-container{
    overflow: hidden;
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .signin-wrapper{
      .text-wrapper{
        text-align: center;
        font-size: 1rem;
        font-weight: normal;
        color: #53565c;
      }

    }
  }
}
