<div class="signin-container">

  <div class="signin-header">

    <div class="logo">
      <img src="assets/img/idena-poll-logo.png">
    </div>
    <h2>Sign in with Idena App</h2>

  </div>

  <div [ngSwitch]="signinState" class="signin-wrapper">
    <div *ngSwitchCase="LOADING">
      <h3>Launching Idena App...</h3>
      <div class="text-wrapper">
        If you do not have Idena app installed on your computer, please open <br/>the
        <a href="https://idena.io?view=download">download page</a>to install it and then try again
      </div>
    </div>
    <div *ngSwitchCase="ERROR">
      <div class="text-wrapper">
      If you're not seeing prompts from your browser, you may need to
      <a href="https://idena.io?view=download">download the Idena App</a> and try again
      </div>
    </div>
      <div class="text-wrapper">
        Successful Login!
      </div>
    <div *ngSwitchCase="SUCCESS">

    </div>

  </div>

</div>


