<div class="signin-container">

  <div class="signin-header">

    <h2>Sign in with Idena App</h2>

    <div class="logo">
      <img src="assets/img/idena-poll-logo.png">
    </div>

  </div>

  <div [ngSwitch]="signinState" class="signin-wrapper">
    <div *ngSwitchCase=LOADING>
      <div class="text-wrapper">
        <h3>Launching Idena App...</h3>
        If you do not have Idena app installed on your computer, please open <br/>the
        <a href="https://idena.io?view=download" target="_blank">download page</a> to install it, then try again
      </div>
    </div>
    <div *ngSwitchCase=FAILED>
      <div class="text-wrapper">
      If you're not seeing prompts from your browser, you may need to
      <a href="https://idena.io?view=download" target="_blank">download the Idena App</a> and try again
      </div>
    </div>
    <div *ngSwitchCase=SUCCESS>
      <div class="text-wrapper">
        Successful Login!
      </div>
    </div>

  </div>

</div>


