:host{
  width: 100%;
  height: 100%;

  .results-container{
    width: 85%;
    height: 85%;
    position: relative;
    margin: auto;

    .canvas {
      display: inline-block !important;
      width: 48% !important;
      height: 48% !important;
      position: relative;
    }

  }

}
