<div class="create-container">

  <form (ngSubmit)="onSubmit(pollForm.value)" [formGroup]="pollForm" class="input-form">

    <div class="form-title">
      <input formControlName="title" id="title" placeholder="Title / Question" type="text">
    </div>

    <div class="form-desc">
      <textarea formControlName="description" id="description" placeholder="Description"></textarea>
    </div>
    <div formArrayName="options">
      <h3>Options</h3>


      <div *ngFor="let option of options.controls; let i=index">
        <input [formControlName]="i" id="option-{{i+1}}" placeholder="Option {{i+1}}" type="text">
      </div>
      <input (click)="addOption()" placeholder="Add options">
    </div>
  </form>
  <div class="option-form">
    <h3>Poll Expiration Date</h3>
    <dl-date-time-picker
      [(ngModel)]="expirationDate"
      maxView="year"
      minView="minute"
      minuteStep="5"
      startView="day"
    >
    </dl-date-time-picker>
  </div>

  <!--todo button submit-->

</div>
