<div class="create-container">

  <h1>Create a new Poll</h1>

  <form (ngSubmit)="onSubmit(pollForm.value)" [formGroup]="pollForm" class="input-form">


    <div class="form-title">
      <app-input [id]="'title'" [inputLabel]="'Title/Question'" [parentControlName]="'title'"
                 [parentFormGroup]="pollForm"></app-input>
    </div>

    <div class="form-desc">
      <app-input [id]="'desc'" [inputLabel]="'Description'" [parentControlName]="'desc'"
                 [parentFormGroup]="pollForm" [required]="false"></app-input>
    </div>

    <div formArrayName="options">
      <h3>Choices</h3>
      <div *ngFor="let option of options.controls; let i=index">
        <app-input [id]="'option-'+(i+1)" [inputLabel]="'Choice '+(i+1)" [parentControlName]="i"
                   [parentFormGroup]="options"></app-input>
      </div>
      <app-button (click)="addOption()" [disabledCondition]="options.length>5" [label]="'Add Choice'"
                  class="small-gap primary-button-blue app-button-small"></app-button>
    </div>


    <h3>Minimum Status Requirement to Vote</h3>

    <app-toggle-button (toggleGroupChange)="selectMode()"
                       [buttonToggleListItem]="toggleList"
                       [id]="'statusRequirement'"
                       [parentControlName]="'statusRequirement'" [parentFormGroup]="settings"
                       [toggleGroupAriaLabel]="'Minimum Status Requirement to Vote'">
    </app-toggle-button>

    <app-button [id]="'d'" [label]="'Submit'" class="small-gap primary-button-blue app-button-small"></app-button>

  </form>

</div>
