$grey: #f5f6f7;
:host {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .topbar{
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
  }
  .main-container{

    background: $grey;
    position: relative;
    top: 80px;
    display: flex;
    height: calc(100% - 80px);
    max-height: calc(100% - 80px);
  }
}
