@import "../../../../../src/assets/sass/palette";
@import "../../../../../src/assets/sass/mixins";

$status-bar-height: 56px;


.mat-snack-bar-container {
  min-width: 100vw;
  max-width: 100vw;
  height: $status-bar-height;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.app-statusbar {
  .status-bar {
    @include display-grid($status-bar-height 1fr $status-bar-height);
    height: $status-bar-height;
    width: 100%;

    p {
      color: #fff;
      line-height: 0;
    }

    &.success {
      background-color: $extra-colors-green;
    }

    &.info {
      background-color: $primary-color;
    }

    &.warning, &.warn {
      background-color: $extra-colors-yellow;
    }

    &.error {
      background-color: $extra-colors-red;
    }

    .icon-container {
      @include grid-column(1);
      @include display-flex-center();

    }

    .description-container {
      @include grid-column(2);
      @include display-flex-Y-center-X-start();
      height: $status-bar-height;

      p {
        margin: 0;
      }
    }

    .snackbar-action {
      @include grid-column(3);
      @include display-flex-center();
      cursor: pointer;
      height: $status-bar-height;
    }
  }
}
