@import "../../../assets/sass/variables";

@mixin mix-app-theme() {
  .mat-option-text {
    color: #3f3f3f;
    font-size: $headings-paragraph;
  }

  .mat-option.mat-option-disabled .mat-option-text {
    opacity: 0.5;
  }

  .mat-autocomplete-panel.mat-autocomplete-visible.ng-star-inserted {
    border-width: 0 $border-size-small $border-size-small $border-size-small;
    border-style: solid;
    border-color: $primary-colors-first-100;
    box-shadow: none;

    .mat-option {
      padding: $padding-size-large;

      span.mat-option-text {
        padding: $padding-none $padding-size-large $padding-none $padding-size-large;
      }
    }
  }

  .mat-form-field.ng-invalid.ng-touched .mat-form-field-suffix .app-icon .mat-icon {
    color: $primary-colors-second-100-red;
  }
}

@include mix-app-theme();
