<div class="voting-container">
  <div class="poll-info">
    <div class="top-poll">
      <div class="poll-status">
        <app-circle-status
          [ngClass]="{'circle-status-active': poll.status== 'active','circle-status-error': poll.status== 'ended'}"></app-circle-status>
      </div>

      <div class="poll-header">
        <h3 class="title">{{poll.title}}</h3>
        <p class="description">{{poll.description}}</p>
      </div>
    </div>


    <div class="poll-options">

      <mat-radio-group [(ngModel)]="selectedOption"
                       [disabled]="poll.status== 'ended'"
                       aria-labelledby="example-radio-group-label"
                       class="radio-options-group">
        <mat-radio-button *ngFor="let option of poll.options" [value]="option.value" class="radio-button">
          {{option.description | emptyPlaceholder}}
        </mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="poll-footer">
      <app-button (click)="onSubmit()" [disabledCondition]="poll.status== 'ended'" [id]="'submitButton'"
                  [label]="'Submit Vote'"
                  class="small-gap primary-button app-button-small"></app-button>
    </div>

  </div>
  <div class="settings-report">
    <app-countdown (ended)="pollEnded()" [date]="poll.endsAt" class="countdown"></app-countdown>
    <div class="settings-list">

    </div>
    <div class="share">
      <h2>Share this!</h2>
      <div fxFlexFill>
        <app-input (click)="copyToClipboard()" [inputLabel]="'Click to copy poll URL'" [parentControlName]="'url'"
                   [parentFormGroup]="copyURLForm" id="url"></app-input>
        <a #tweet
           (click)="tweetPopup(tweet)" class="twitter-share-button" data-show-count="false" data-size="large"
           href="https://twitter.com/intent/tweet?text=Check this poll out: {{href}}" rel="canonical" target="_newwin">
          Tweet</a>
      </div>
    </div>
  </div>
</div>
