<div class="voting-container">

  <div class="poll-header">
    <app-circle-status
      [ngClass]="{'circle-status-active': poll.status== 'active','circle-status-error': poll.status== 'ended'}"></app-circle-status>
    <h3 class="title">{{poll.title}}</h3>
    <p class="description">{{poll.description}}</p>
  </div>

  <div class="poll-options">

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-options-group"
      [(ngModel)]="selectedOption">
      <mat-radio-button class="radio-button" *ngFor="let option of poll.options" [value]="option.value">
        {{option.description}}
      </mat-radio-button>
    </mat-radio-group>

    <div class="sub-but">
      <app-button (click)="onSubmit()" [id]="'submitButton'" [label]="'Submit Vote'"
                  class="small-gap primary-button app-button-small"></app-button>
    </div>

    <app-countdown [date]="poll.endsAt"></app-countdown>

    <div class="share">
      <app-input id="url" [parentControlName]="'url'" [parentFormGroup]="copyURLForm"
                 [inputLabel]="'Share this poll through this link'"></app-input>
      <app-button (click)="copyToClipboard(href)" [id]="'copyButton'" [label]="'Copy to clipboard'"
                  class="small-gap primary-button app-button-small"></app-button>
    </div>
  </div>
</div>
