:host{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;

  .poll-container{
    overflow: hidden;
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .voting-container{
      display:flex;

      .poll-header{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 1000px;
        padding: 15px;
        position: relative;
      }
    }


    .wait{

    }

  }

}
