@import 'variables';


// font-icons
%app-icon-setup {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $icon-small;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

%error-icon {
  color: $extra-colors-red;
  fill: $extra-colors-red;
}

%icon-disabled {
  opacity: $icon-disabled;
  color: $extra-colors-grey;
  cursor: default;
}

.app-icon {
  &-white {
    @extend %app-icon-setup;
    color: $neutral-colors-backgrounds-white;
    fill: $neutral-colors-backgrounds-white;
  }

  &-blue {
    @extend %app-icon-setup;
    color: $primary-colors-first-100;
    fill: $primary-colors-first-100;
  }

  &-lightblue {
    @extend %app-icon-setup;
    color: $primary-colors-second-100-lightblue;
    fill: $primary-colors-second-100-lightblue;
  }

  &-success {
    @extend %app-icon-setup;
    color: $extra-colors-green;
    fill: $extra-colors-green;
  }

  &-warning {
    @extend %app-icon-setup;
    color: $extra-colors-yellow;
    fill: $extra-colors-yellow;

  }

  &-error {
    @extend %app-icon-setup;
    color: $extra-colors-red;
    fill: $extra-colors-red;
  }
}

.app-icon-disabled {
  @extend %icon-disabled;
}

// per componenti dinamiche come i buttoni conviene settera il colore nel componente padre

